/*body {}

table {
    display: flex;
    border-collapse: collapse;
    justify-content: center;
}

table th {
    text-align: left;
    background-color: #3a6070;
    color: #FFF;
    padding: 4px 30px 4px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

.bottone {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: red;
}

.anagrafiche {
    margin-left: 100px;
}*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.filter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: lightgrey;
    /*background: -moz-linear-gradient(90deg, rgba(233, 76, 161, 1) 0%, rgba(199, 74, 233, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(233, 76, 161, 1) 0%, rgba(199, 74, 233, 1) 100%);
    background: linear-gradient(90deg, rgba(233, 76, 161, 1) 0%, rgba(199, 74, 233, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1", endColorstr="#c74ae9", GradientType=1);
    opacity: .7;*/
}

#vue-container{
    width: 100%;
    height: 100%;
}

.tabella {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    z-index: 2;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    position: center;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: rgb(253, 28, 28);
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.buttonanagrafica {
    /*background-color: red;
    border-radius: 20px;
    margin: 5px 5px;
    padding: 5px 5px;*/
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    outline: 0;
    text-align: center;
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
}

.meseanno {
    display: block;
    text-align: center;
    margin: 2px;
}
.date {
    display: block;
    text-align: center;
    margin: 12px;    
}
.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.contratto {
    height: 100%;
    width: 50%;
    justify-content: row;
}
.dipendente {
    height: 100%;
    width: 50%;
    justify-content: row;
}
.nascosto {
    visibility: hidden;
}
input:disabled {
    background-color: white;
    color: black;
    cursor:default;
    border: 0;
 }